<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Update User Role </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid style="height: 10%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <h3> View User Email : </h3>
    </ion-row>
  </ion-grid>


  <div *ngIf="error" class="error-message">{{error}}</div>

  <div col-md-6 col-lg-6 col-xl-6 padding="'true'" scroll="false" class="has-header margin-auto">
    <ion-card>

      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterItems()"></ion-searchbar>
      <ion-item>

        <ion-row class="ion-title" style="background-color: silver;">
          <ion-col>Email ID</ion-col>
          <ion-col></ion-col>

        </ion-row>
        <ion-item *ngFor="let userObject of userDetailsList;let i=index">
          <ion-row>
            <ion-col>{{userObject.emailId}}</ion-col>

            <ion-col>
              <ion-item>
                <ion-select required (ionChange)="onSelectChange($event,i)">
                  <ion-option value="faculty" [selected]="userObject.userRole == 'faculty'">faculty</ion-option>
                  <ion-option value="OrganizationAdmin" [selected]="userObject.userRole == 'OrganizationAdmin'">admin
                  </ion-option>
                </ion-select>

              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item (click)="updateUserRole(userObject)" style="color: blue">

                Update User Role
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item (click)="removeUserDetails(userObject)" style="color: blue">

                Remove User
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-item>

    </ion-card>
  </div>
</ion-content>